.function-link a {
	font-size: 10vw;
	color: #9d9d9d;
}

.function-link a:hover, .function-link a:active {
	color: #DDDDDD;
	text-decoration: none;
	cursor: pointer;
}

.function-link {
	text-align: center;
}